# Python
venv/
__pycache__/
*.pyc
.env

# credentials
*.json
gcp_keyfile.json
service_account*.json

# dbt
dbt/target/
dbt/logs/
dbt/.user.yml
dbt/profiles.yml

# Airflow
airflow/logs/
airflow/config/airflow.cfg

# OS
.DS_Store
Thumbs.db